/* Typography */

html {
	font-family: 'Reem Kufi', sans-serif;
}

body {
	max-width: 45em;
	margin: 0 auto;
	background-color: #f0db4f;
}

@media (max-width: 576px) {
	html {
		font-size: 14px;
	}
	img.avatar {
		width: 30%;
		border-radius: 50%;
	  }
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
	img.avatar {
		width: 40%;
		border-radius: 50%;
	  }
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	text-align: center;
	color: #323330;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3em;
    font-weight: bold;
	margin-top: 2%;
}

.icons-social i {
	margin-top: 1%;
    padding: 10px;
    font-size: 2rem;
}

.imgcontainer {
    margin-left: auto;
    margin-right: auto
  }

img.avatar {
	border-radius: 25px;
}

img:hover {
	filter: grayscale(100%);
  }

.button1 {
	background-color: #323332;
	border: none;
	color: #f0db4f;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 2em;
	font-weight: bold;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	cursor: pointer;
	border: 2px solid #323332;
	border-radius: 25px;
  }

.button1:hover {
	color: #323332;
	background-color: #f0db4f;
	border-radius: 25px;
}

/* Theme */

.icons-social a {
	color: #323330;
}

.icons-social a:hover {
	color: black;
}